<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <%- include header %>
  comment
  <form  action="/comm/talk" method="post">
    标题：<input type="text" name="title">
    内容：<input type="text" name="val">
    <input type="submit" name="" value="评论"> 
  </form>
</body>
</html>
