<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  detail
  <div><%= item.title %></div>
  <div><%= item.val %></div>
  <div><%= item.username %></div>

</body>
</html>
